/* Colors */

:root {
    /* Body */
    --color-background-body: #FFFFFF;

    --color-font-body: #2D4454;
    --color-font-link: #583D9E;
    
    --font-body: 'Franklin Gothic Medium', 'Franklin Gothic Book', Arial, sans-serif;

    /* General */
    --color-border: rgba(0, 0, 0, 0.1);
    --color-face: #FFFFFF;
    
    /* Button */
    --color-background-button: transparent;
    --color-background-button-hover: #583D9E;
    
    --color-background-button-primary: #2D4454;
    --color-font-button-primary: #FFFFFF;
    
    /* Layout */
    --metric-content-width: 1000px;

    /* Header */
    --color-background-header: var(--color-background-body);

    /* Nav */
    --color-background-nav: #405465;
    --color-font-nav: #FFFFFF;

    /* Sections */
    --color-background-section-why: #D1D1F5;
    --color-background-section-services: #FFFFFF;
    --color-background-section-countries: #FAFAFA;
    --color-background-section-about: #583D9E;
    --color-background-section-about-people: #F2F2F2;
    --color-background-section-contact:#F2F2F2;
    /* Footer */
    --color-background-footer: #ffffff;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
    }
}

/* Setup */

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    flex: 0 0 auto;
    letter-spacing: 0.1px;
}
*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: var(--color-background-body);
    display: flex;
    flex-flow: column nowrap;
    font-size: 1rem;
    margin: 0;
    color: var(--color-font-body);
    font-family: var(--font-body);
}

a {
    color: var(--color-font-link);
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

h1 {
    font-family: Franklin Gothic Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140.62%;
    /* or 101px */
    color: #2D4454;
}
h2 {
    font-family: Franklin Gothic Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 140.62%;
    /* or 39px */
    color: #2D4454;
}
h3 {
    font-family: Franklin Gothic Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 140.62%;
    /* or 101px */
    color: #2D4454;
}

p1 {
    font-family: Franklin Gothic Book;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140.62%;
    /* identical to box height, or 25px */
    color: #2D4454;
}
p2{
    font-family: Franklin Gothic Book;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140.62%;
    /* or 28px */
    color: #2D4454;
    text-align: center;
}


.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5px;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin-bottom: -10rem;
  }
.grid-item {
    
    
}
/* Components */

.button {
    align-items: center;
    background: var(--color-background-button);
    border: none;
    border-radius: 4px;
    color: var(--color-font-button);
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    height: 48px;
    justify-content: center;
    margin: 4px;
    padding: 0 16px;
}

.button:hover {
    background-color: var(--color-background-button-hover);
}

.button-primary {
    background: var(--color-background-button-primary);
    color: var(--color-font-button-primary);
}

@media screen and (max-width: 720px) {
    .button-primary{
        display: none;
    }
}

.button-send {
    background: var(--color-background-button-primary);
    color: var(--color-font-button-primary);
}

.button-secondary {
    border: 1px solid var(--color-background-button-primary);
}
.center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.icon-button {
    padding: 0;
    width: 48px;
}
.purple-text {
    color: #583D9E;
}

.input {
    border: 2px solid var(--color-border);
    font-family: var(--font-body);
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 16px;
    width: 100%;
}

.reasons-list-number{
    font-family: Franklin Gothic Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 140.62%;
    color: #583D9E;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.input-label {
    font-size: 1rem;
    width: 100%;
}
.menu-list {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 128px;
    min-width: 128px;
}


.slider {
    display: flex;
    flex-flow: column nowrap;
    min-height: 512px;
    height: 90vh;
    max-height: 720px;
    position: relative;
}

.slick-list {
    flex-grow: 1;
    overflow: hidden;
}

.slick-track {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.slick-arrow {
    height: 100%;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 48px;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-slide {
    height: 100%;
    padding: 16px;
    z-index: 0;
}

.slick-slide-content {
    background-color: var(--color-face);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    height: 100%;
    width: 100%;
}

.slick-dots {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slick-dots > li {
    margin: 4px;
}

.slick-dots > li > button {
    background: transparent;
    border: none;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 8px;
}

.slick-dots > li > button::before {
    border-radius: 50%;
    background-color: var(--color-border);
    content: '';
    display: block;
    height: 8px;
    width: 8px;
}

.slick-dots > li.slick-active > button::before {
    background-color: var(--color-font-body);
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
 
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #583D9E;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .switch-slider {
    background-color: #2D4454;
  }
  input:focus + .switch-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
 input:checked + .switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

.switch-slider.round {
    border-radius: 34px;
  }
  
.switch-slider.round:before {
    border-radius: 50%;
  }
  

.tabs {
    display: flex;
    flex-flow: column nowrap;
}
.tab-control {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 24px;
}

.tab {

}

.tabs.parent .tab-student {
    display: none;
}
.tabs.student .tab-parent {
    display: none;
}
 

/* Layout */

#header {
    background-color: var(--color-background-header);
    display: flex;
    height: 65px;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    }

#header-inner {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 56px;
    justify-content: space-between;
    width: 100%;
    max-width: var(--metric-content-width);
}

#header-logo {
    padding-top: 5px;
    display: block;
    width: 121px;
    height: 171px;
    }

#header-logo > img {
    width: 121px;
    height: 171px;

}

#header-nav {
    background-color: var(--color-background-nav);
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: calc(100% - 56px);
    max-width: 320px;
}
body.show-nav #header-nav {
    transform: translateX(0);
}

#header-nav-open {
    font-weight: 700;
}

#header-nav-close {
    align-self: flex-end;
    color: var(--color-font-nav);
    font-size: 2rem;
}

#header-nav-menu {
    margin-top: 128px;
}

#header-nav-menu .menu-item {
    font-family: Franklin Gothic Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-align: right;
    
}

#header-nav-menu a {
    display: block;
    color: var(--color-font-nav);
    padding: 0 16px;
    line-height: 4rem;
}

@media (min-width: 720px) {
    #header-nav {
        background-color: transparent;
        position: static;
        transform: translateX(0);
        width: auto;
        max-width: unset;
    }

    .header-nav-button {
        display: none;
    }

    #header-nav-menu {
        margin-top: 15px;
        flex-flow: row nowrap;
    }

    #header-nav-menu a {
        color: var(--color-font-body);
        line-height: 3rem;
    }
}

/* Content */
#background-picture{
  width: 100%;
  height: 730px;
  background: url(images/Website-Background-V8.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
}
@media screen and (max-width: 720px) {
    #background-picture{
        background: url(images/Website-Background-Mobile.png) no-repeat center center fixed;
        width: 100%;
        height: 730px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        align-items: center;
    }
}
#sent-message{
    
}
#content {
    width: 100%;
    z-index: 0;
}
.flex-grid {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  padding: 16px;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 720px) {
    .flex-grid{
        flex-direction: column;
    }
}

.flex-col {
    flex: 1;
    text-align: center;  
  }
.flex-col-numbers{
    height:100px;
}

.flex-col-reasons{

    text-align: left;
    flex-grow: 3;
    margin-bottom: .5rem;
}

.flex-col-half{
    margin-bottom: .2rem;
}
@media screen and (max-width: 720px) {
    .flex-col-half{
        width: 100%;
    }
}

#flex-col-email{
    padding-right: 1rem; 
    margin-left: -1rem;
}
@media screen and (max-width: 720px) {
    #flex-col-email{
        width: 100%;
        margin: 0px;
        padding: 0px;
        align-self: left;
    }
}

#flex-col-phone{
    margin-right: -1rem;
}
@media screen and (max-width: 720px) {
    #flex-col-phone{
        width: 100%;
        margin: 0px;
        padding: 0px;
        align-self: left;
    }
}

#footer-picture{
    max-width: 100%;
    height: 54px;
    
  }
#contact-text{
    align-self: flex-start; 
    padding: 2rem;
}


.person-img{
    width: 100%;
    max-width: 124px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #583D9E;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 16px;
    position: relative;
    width: 100%;
}

.section-image {
    width: 100%;
    height: auto;
}

.section-inner {
    width: 370px;
    max-width: var(--metric-content-width);
    align-items: center;
    text-align: center;
    
}


.section-heading {
    display: block;
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
    width: 100%;
}

.section-inner > p {
    font-size: 1.5rem;
    align-items: center;
}

#mapid { 
    
}

#medium-widget{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    align-self:center;
    align-items: center;
    align-content: center;
}

#person-image{
    width:50%;
    height:100%;
    object-fit:cover;
  }

#section-about {
    text-align: center;
    align-items: center;
    background: var(--color-background-section-about);
}

#section-blog {
    text-align: center;
    align-items: center;
    margin-bottom: 5rem;
}

#section-about > .section-image {
    height: 256px;
}

#section-about-people {
    text-align: center;
    align-items: center;
    background: var(--color-background-section-about-people);
}

#section-contact{
    background-color: var(--color-background-section-contact);
}

#section-explanation {
    text-align: center;
    align-items: center;

}



#section-intro {
    text-align: center;
    align-items: center;
    margin: 0rem;
    padding: 0rem;

}

#section-why {
    background: var(--color-background-section-why);
}

#section-countries {
    background-color: var(--color-background-section-countries);
}

#section-countries-slider {
    margin: 0 -16px;
}

#section-countries-slider .slick-list::before,
#section-countries-slider .slick-list::after {
    bottom: 0;
    content: '';
    display: none;
    position: absolute;
    top: 0;
    width: 48px;
    z-index: 1;
}
#section-countries-slider .slick-list::before {
    background: linear-gradient(to right, var(--color-background-section-countries) 0%,transparent 100%);
    left: 0;
}
#section-countries-slider .slick-list::after {
    background: linear-gradient(to left, var(--color-background-section-countries) 0%,transparent 100%);
    right: 0;
}

@media (min-width: 1000px) {
    #section-countries-slider .slick-list::before,
    #section-countries-slider .slick-list::after {
        display: block;
    }

    #section-countries-slider .slick-slide {
        padding: 16px 48px;
    }
}

#section-services {
    color: #fff;
    background: var(--color-background-section-services);
    margin-bottom: 5rem;
}

 #service-image{
    width:90%;
    height:30%;
    object-fit:cover;
    
  }

#form {
    display: flex;
    flex-flow: column nowrap;
}

.form-row {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: .2rem;
    width:100%;
    
}

#form-message {
    min-height: 175px;
    min-width: 300px;
    resize: vertical;
}

#form-submit {
    width: auto;
}

.linkedin-icon{
    width: 49px;
    height: auto;
}

/* Footer */

#footer {
    background-color: var(--color-background-footer);
    display: flex;
    justify-content: center;
    width: 100%;
}

#footer-inner {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 16px;
    width: 100%;
    max-width: var(--metric-content-width);
}